mochawesome-report/*
node_modules/*
node_modules
cypress/node_modules
cypress/node_modules/*
cypress/results/*
cypress/screenshots/
cypress/videos/
cypress/reports/*
cypress/fixtures
cypress/reports/html*
cypress/reports/index.html
allure-results
\index.json
.index.json
index.json/
.index.json/